{% extends 'base.html.twig' %}

{% block title %}RH Conseil{% endblock %}

{% block body %}

<div id="home-page">
    {% include 'partials/_homeNav.html.twig' %}
    <div id="home-content">
        <div id="search-form">
            <div id="home-search">
             {# <search-offers ></search-offers>#}
            </div>
        </div>
        <div id="content">
            {% include 'partials/_homeContent.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}
