{% extends 'base.html.twig' %}

{% block title %}RH Conseil{% endblock %}

{% block body %}

<div id="home-page">
    {% include 'partials/_homeNav.html.twig' %}
    <div id="home-search">
{#  {{ form_start(search_form) }}
    {{ form_row(search_form.title) }}
    {{ form_row(search_form.city) }}
    <button type="submit">Rechercher</button>
    {{ form_end(search_form) }}#}
        <city-field></city-field>
    </div>


</div>
{% endblock %}
