{% extends 'base.html.twig' %}

{% block title %}RH Conseil{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>RH Conseil</h1>
    {{ form_start(search_form) }}
    {{ form_row(search_form.title) }}
    {{ form_row(search_form.city) }}
    <button type="submit">Rechercher</button>
    {{ form_end(search_form) }}
</div>
{% endblock %}
