<nav id="home-nav">
    <a  href="#">Navbar</a>
    <div>
        <ul>
            <li>
                <a>navlink</a>
            </li>
            <li>
                <a>navlink</a>
            </li>
            </ul>
        </div>
</nav>