*{

  font-family: 'Roboto', sans-serif;
}

body{
  background-color: rgba(245, 249, 254, 0.7);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

a{
  text-decoration: none;
}

p{
  font-size: .9em;
}
span{
  font-size: .9rem;
}