
#home-content{
  width: 58%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}


#home-search{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 2rem;
  margin: 0 auto;
  top: 50vh;
  background-color: hsla(0,0%,100%,.92);
  border: 1px solid hsla(0,0%,100%,.18);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  search-offers{
    width: 100%;
  }

  form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;


    .form-group{
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    button{
      width: 200px;
      height: 40px;
      background-color: #F1D00A;
      border: none;
      border-radius: 7px;
      color: #21325E;
      cursor: pointer;
      font-weight: 700;
      // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

      &:hover{
        background-color: #d3b409;

      }
    }
  }


  form > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 40px;
    width: 251px;
    border-radius: 5px;
    padding: 0 .5rem;
    border: solid 1px #b2b2b2;
    //box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    label{
      font-size: .9rem;
      color: #21325E;
    }



  }

}


#search-form{
  width: 100%;
}

#city-select {
  background-color: white;
  width: inherit;

  border: unset;

  .css-1s2u09g-control{
    border-style: unset;

    &:hover{
      border: unset;
      box-shadow: unset;
    }

  }

  .css-1pahdxg-control {

    border-style: unset;
    border-width: 0;

    &:hover{
      border-style: none;
      border-color: unset;
      box-shadow: none;
      border-width: 0;
      outline: none;
    }

    &:active{
      border-style: unset;
      border-width: 0;
      outline: none;
    }

    &:focus{
      border-style: none;
      box-shadow: none;
      border-width: 0;
      outline: none;

    }

  }



  &:focus{
    outline: unset;
  }

  &::placeholder{
    font-size: .9rem;
    text-transform: capitalize;
  }
}

#react-select-2-listbox{
  width: 251px;
  transform: translateX(-27px);

}

#main_search_title{
  height: 34px;
  width: 210px;
  border: none;

  &:focus{
    outline: none;
  }

  &::placeholder{
    font-size: .9rem;
    text-transform: capitalize;
    padding-left: 15px;
    padding-bottom: 0;
    color: gray;
  }
}


#keyword{
  border: unset;

  &:focus{
    outline: unset;
  }
}


#home-nav{
  width: 100vw;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  position: fixed;

  div{
    width: 25%;
    padding-right: 2rem;
  }
}

#home-page-logo{
  img{
    height: 40px;
    width: 40px;
    margin-right: .5rem;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #e0e0e0;
  padding-left: 2rem;
}

#home-page-nav-ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  width: 100%;
  justify-content: end;


  li{
    padding-left: 2rem;

    a{
      color: #e0e0e0;
      font-size: .9rem;

      &:hover{
        color: #F1D00A;
      }
    }

  }
}

a{
  text-decoration: none;
}

.create-account-link{
  font-weight: 300;
}

.login-link{
  font-weight: 700;
}