{% extends 'base.html.twig' %}

{% block title %}RH Conseil - Compte en attente de validation{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>En attente</h1>
    <p>Votre compte est en attente de validation par un de nos consultants.</p>
</div>
{% endblock %}
