

<div class="text-center">
    <h1>Candidature envoyée à l'entreprise</h1><br>

    <p>Bonjour,</p>
    <p>Nous avons reçu votre candidature au poste de : {{ offer.title }} de l'entreprise {{ offer.recruiter.name }}.</p>
    <p>Votre candidature a été transmise à l'entreprise par un de nos consultants. </p>

    <p>Cordialement,</p><br>

    <p>L'équipe RH Conseil</p>
</div>

