

<div class="text-center">
    <h1>Candidature reçue</h1><br>

    <p>Bonjour,</p>
    <p>Vous avez reçu une nouvelle candidature pour le poste de : {{ offer.title }}</p>
    <p>Veuillez trouver en pièce jointe le CV du candidat sélectionné par notre consultant. </p>
    <p>
    <p>Nom : {{ candidate.lastname }}</p>
    <p>Prénom : {{ candidate.firstname }}</p>
    <p>Cordialement,</p><br>

    <p>L'équipe RH Conseil</p>
</div>

