

<div class="text-center">
    <h1>Bienvenue sur RH Conseil</h1><br>

    <p>Bonjour,</p>
    <p>Votre compte consultant a été créé. Vous pouvez dès à présent vous rendre sur la plateforme, taiter les candidatures et publier des offres d'emploi.</p>
    <p>Voici vos identifiants :</p>
    <p>Adresse email : {{ user.email }}</p>
    <p>Mot de passe : {{ password }}</p>
    <p>N'oubliez pas de modifier votre mot de passe.</p>

    <p>Cordialement,</p><br>

    <p>L'équipe RH Conseil</p>
</div>

